*.VC.db
*.dll
*.exe
*.ipch
*.pch
*.sdf
*.ncb
*.tlog
*.obj
*.iobj
*.pdb
*.ipdb
*.exp
*.log
*.recipe
*.lib

!openMesh8.1_vs2017/


*.vcxproj.user
*.vc.db
*.ncb
*.xlsx
*.pdf
*.doc
*.docx


# 忽略的文件夹
x64/
Debug/
Bin_Debug/
Win32_Debug/
 
